<title>AdBoard</title>
      <h1 nz-typography class="!mb-0" routerLink="/">Solar</h1>


<div class = "menu row ">
    
    <button nz-button nzType="primary" routerLink="/" >Главная</button>
    <button nz-button nzType="primary" routerLink="/selected" >Избранные<span nz-icon [nzType]="'star'" [nzTheme]="'fill'"></span></button>
    <button nz-button nzType="primary" routerLink="/login">Вход/Регистрация</button>
    <button nz-button nzType="primary" routerLink="/createAd">Объявить объявление</button>
    <button nz-button nzType="primary" routerLink="/myAds">Мои объявления</button> 

    <!-- <input nz-input name="adName"  id="adNameSearch" [(ngModel)]="search">

    <button nz-button nzType ="primary" type ="submit" value="search" (click)="onSubmit()">Поиск</button> -->


</div>
    